html, body, #mainpage{
	margin: 0px;
	padding: 0px;
	height: 100%;
	
    color: white !important;
    text-shadow: 0 1px 0 gray !important;
}
a{
	color: #387BBE;
}

#mainpage{
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(67, 67, 67); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(67, 67, 67, 1) 0%, rgba(7, 7, 7, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(67, 67, 67, 1)), color-stop(100%, rgba(7, 7, 7, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(67, 67, 67, 1) 0%, rgba(7, 7, 7, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(67, 67, 67, 1) 0%, rgba(7, 7, 7, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(67, 67, 67, 1) 0%, rgba(7, 7, 7, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(67, 67, 67, 1) 0%, rgba(7, 7, 7, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#434343', endColorstr = '#070707', GradientType = 0); /* IE6-9 */
}

.ui-header{
	z-index: 9999;
}

#leftpane {
	float: left;
    background-color: rgba(50, 50, 50, 0.3);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 350px;
}
#rightpane, X3D, #x3dViewport{
	height: 100%;
	margin: 0;
	padding: 0 0 0 350px;
}
X3D, #x3dViewport{
	width: 100%;
	padding: 0;
	border: none;
}
#x3dViewport{
	margin-top: -45px;
}
#x3dViewport #printPattern{
    padding-top: 50px;
    padding-left: 20px;
    padding-left: 20px;
}
#x3dom_logdiv{
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	bottom: 0;
}


#metaDataList{
	padding: 0 !important;
	margin: 0 !important;
}
#metaDataList .ui-collapsible-content{
	margin: 0 !important;
}

#metaDataList .ui-collapsible-heading{
    margin: 0 !important;
} 

#metaDataList .ui-corner-top{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
#metaDataList .ui-corner-bottom{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#metaDataList .ui-focus{
    -moz-box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.6) /*{global-active-background-color}*/;
    -webkit-box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.6) /*{global-active-background-color}*/;
    box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.6) /*{global-active-background-color}*/;
}
#metaDataList .metaDateEntry{
	margin: 0 !important;
}
#metaDataList .metaDateEntry .ui-collapsible-content{
    padding: 0 0 0 16px !important;
    /*background-color: #396b9e;*/
}
#metaDataList .metaDateEntry .ui-collapsible-content .ui-collapsible-content{
    padding: 0 0 0 16px !important;
    background-color: none;
}


/***********************************************
 * PopUp
***********************************************/
.popUp {
    margin: 0;
    padding: 10px;
	bottom: 10px; 
	right: 10px;
    display: none;
	position: fixed;
    opacity: 0.9;
}

.popUp h3, .popUp p {
    padding: 0;
    margin: 0;
}
