Flask==0.10.1
Flask-Script==0.6.2
Flask-Mail==0.9.0
redis==2.7.2

celery==3.0.17
#.23/.24 is broken
billiard==2.7.3.25

requests==2.0.0

jinja2==2.7

# wgsi server used with circus deployment
chaussette==1.0

# if gevent doesn't build due to missing deps to libevent call this on OSX:
# sudo port install libevent
# CFLAGS="-I /opt/local/include -L /opt/local/lib" pip install gevent
gevent==0.13.8

# optional to manage celery queues
Flower

# 
# Used on dev box only
#
Fabric==1.8.0
honcho==0.4.2


# future
#Flask-WTF==0.8
#flask-login