html, body , X3D{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#x3dom_logdiv {
    position: absolute;
    bottom: 0;
    width: 99%;
    margin: 0 !important;
}

/******* MENU ***********************/

#menu {
    position: absolute;
    top: 0;
    right: 5px;
    width: 350px;
    padding: 0 10px 10px 10px;
    -moz-box-shadow: -5px 10px 10px #555;
    -webkit-box-shadow: -5px 10px 10px #555;
    box-shadow: -5px 10px 10px #555;
}

#menu #menuOpener,
#menu .buttonContainer a{
    width: 100%;
}

#menuList div {
    padding-bottom: 8px;
}

#menuList div div {
    padding-bottom: 0px;
}

#colorPicker {
    position: absolute;
    top: 0px;
    width: 350px;
    right: 380px;
    display: none;
    padding: 10px;
    z-index: 999;
    -moz-box-shadow: -5px 10px 10px #555;
    -webkit-box-shadow: -5px 10px 10px #555;
    box-shadow: -5px 10px 10px #555;
}
#colorPicker #colorPickerButtons {
    padding: 10px;
    text-align: center;
}

#colorPicker #colorPickerButtons a{
    min-width: 48%;
}

#red, #green, #blue, #all {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#colorPickerSwatch {
    width: 120px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    background-image: none;
    clear: both;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}

#all .ui-slider-range {
    background: #c1c1c1;
}

#all .ui-slider-handle {
    border-color: #c1c1c1;
}

#demo-frame > div.demo {
    padding: 10px !important;
}


/************* index seite ********************/
#buttons{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}
#buttons a{
    width: 50%;
    padding: 10px;
    margin: 20px;

}