{% extends "base_vmust.html" %}

{% block content %}

<h1>Model Conversion</h1>
<p>This web service converts your 3D model into X3DOM compatible HTML5.</p>

<p>Start the conversion by selecting the model file from your disk and then
    press the Convert button. Depending on the size of your model and the 
    server load, it may take a while.
</p>

<form action="{{ url_for('frontend.upload') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} fade in" data-alert="alert">
                    {% if category == 'error' %}<strong>Oh snap!</strong>{% endif%}
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
    {% endwith %}

    <fieldset>
        <legend>Upload Model</legend>
        <p><a class="toggler" data-toggle-on="Hide help" data-toggle-off="Show help" href="#file_help">Show help</a> for supported formats, textured models. </p>

        <div id="file_help">
            <span class="label label-info">Supported formats</span>
            <p>Supported formats: {{ ", ".join(config['ALLOWED_EXTENSIONS']) }} (the compressed types e.g. zip can contain any of the other, except nested archives)</p>
            
            <span class="label label-info">Textured models</span>
            <p>If you need to upload textures with your model, you need to prepare and upload a ZIP file which also contains your textures. In order to discover the models in the zip file, you need to <strong>store them at the root level</strong> of the Zip archive. This is also true for the metadata which you can also put in the archive. The meatadata filename needs to be exactly like your model filename except for the extension. Directory names and textures are not touched during conversion and simply copied over. Make sure you only have relative paths in you Zip file. Things like <code>z/../../../etc/passwd</code> or similar are filtered out. Nested archives are not processed. </p>

            <h5>Here's how a good zipfile could look:</h5>

            
<pre>
my_models.zip:
    vase.ply
    vase.txt
    vase_textures/arbitrary.jpg
    vase_textures/texture.jpg
    skull.ply
    skull.xml
    skull_textures/arbitrary.jpg
    skull_textures/texture.jpg
</pre>

<h5>Don't do this:</h5>

<pre>
my_models.zip:
    mymodels/vase.ply
    mymodels/vase.txt
    vase_textures/arbitrary.jpg
    vase_textures/texture.jpg
    other/project/skull.ply
    other/project/skull.xml
    /home/pete/project/skull_textures/arbitrary.jpg
    ../../skull_textures/texture.jpg
</pre>


        </div>

            <div id="input_group_file">
                <input type="file" name="file">
                <span class="help-block">or <a href="#" id="toggle_input_file">use a URL</a> instead of a file.</span>
            </div>
            
            <div id="input_group_url" class="hide">
                <input type="text" name="url" maxlength="254" placeholder="http://">
                <span class="help-block">No thanks, I prefer to <a href="#" id="toggle_input_url">upload a file?</a></span>
            </div>
    </fieldset>   


    <fieldset>
        <legend>Choose the optimization type</legend>
        <p>These are all optional</p>
         <label class="checkbox">
            <input type="checkbox" name="meshlab" value="Remove Duplicate Faces"> Remove Duplicate Faces
        </label>
        <label class="checkbox">
            <input type="checkbox" name="meshlab" value="Remove Duplicated Vertex"> Remove Duplicate Vertices
        </label>
        <label class="checkbox">
           <input type="checkbox" name="meshlab" value="Remove Zero Area Faces"> Remove Zero Area Faces
        </label>
    </fieldset> 


    <fieldset>
        <legend>Choose the conversion option</legend>
        <label class="radio">
            <input type="radio" name="aopt" value="standard" checked> Standard IndexedFaceSet<br>
        </label>    
        
        <label class="radio">
            <input type="radio" name="aopt" value="binGeo"> BinaryGeometry<br>
        </label>    

        <label class="radio">
            <input type="radio" name="aopt" value="restuctedBinGeo"> Restructured BinaryGeometry
        </label>

    </fieldset>
    
    <fieldset>
        <legend>Select a template</legend>
        <label class="radio">
            <input type="radio" name="template" value="basic" id="radio-basic" checked> Basic Viewer
        </label>
        <label class="radio">
            <input type="radio" name="template" value="fullsize" id="radio-fullsize"> Fullsize Viewer
        </label>
        <label class="radio">
            <input type="radio" name="template" value="metadataBrowser" id="radio-meta"> Viewer with Metadata Browser
        </label>
        {# TODO upload own template #}
    </fieldset>

    <fieldset id="meta-upload">
        <legend>Upload a metadata file</legend>
        <p>If you choose the "Fullsize Viewer" or "Viewer with Metadata Browser" template, you can attach metatdata to your model. Supported formats are <code>txt</code> for "Basic Viewer" and <code>xml</code> for "Viewer with Metadata Browser"</small></p>
        <p><span class="label label-info">Heads up!</span> In case you upload a ZIP archive, you need to provide the metadata within your archive. See help above for more info.</p>
        <input type="file" name="metadata">
    </fieldset>  
    
    <input type="submit" value="Convert" class="btn btn-primary" data-loading-text="Processing..." onclick="$j(this).button('loading')" >
</form>

<h4>What happens next?</h4>
<p>After uploading your source file using the form above, a new page
    will be displayed with a link to download the converted model as
    HTML file.</p>

<h4>Note</h4>
<p>The converted model files will be deleted from our servers
a couple of hours after the conversion took place. Make sure you download
the files to your computer.</p>


{% endblock %}
