{% extends "base_vmust.html" %}

{% block content %}

<h1>Model Conversion</h1>
<p>This web service converts your 3D model into X3DOM compatible HTML5.</p>

<p>Start the conversion by selecting the model file from your disk and then
    press the Convert button. Depending on the size of your model and the 
    server load, it may take a while.
</p>

<form action="{{ url_for('frontend.upload') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} fade in" data-alert="alert">
                    {% if category == 'error' %}<strong>Oh snap!</strong>{% endif%}
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
    {% endwith %}

    <fieldset>
        <h4>Choose file to upload</h4>
        <p><small>Supported formats are 
            X3D, X3DV, X3DB, VRML, PLY, OBJ, OFF, 
            STL, 3DS, COLLADA, X, OSG, OSB, FHS
            </small></p>
            <input type="file" name="file">
    </fieldset>   

    <fieldset>
        <h4>If you want to optimize your model before conversion, choose the optimization type</h4>
        <input type="checkbox" name="meshlab" value="Remove Duplicate Faces"> Remove Duplicate Faces<br>
        <input type="checkbox" name="meshlab" value="Remove Duplicated Vertex"> Remove Duplicate Vertices<br>
        <input type="checkbox" name="meshlab" value="Remove Zero Area Faces"> Remove Zero Area Faces
    </fieldset> 

    <fieldset>
        <h4>Choose the conversion option</h4>
        <input type="radio" name="aopt" value="standard" checked> Standard IndexedFaceSet<br>
        <input type="radio" name="aopt" value="binGeo"> BinaryGeometry<br>
        <input type="radio" name="aopt" value="restuctedBinGeo"> Restructured BinaryGeometry
    </fieldset>
    
    <fieldset>
        <h4>Select a template</h4>
        <input type="radio" name="template" value="basic" id="radio-basic" checked> Basic Viewer<br>
        <input type="radio" name="template" value="fullsize" id="radio-fullsize"> Fullsize Viewer<br>
        <input type="radio" name="template" value="metadataBrowser" id="radio-meta"> Viewer with Metadata Browser<br>
        {# TODO upload own template #}
    </fieldset>

    <fieldset id="meta-upload">
        <h4>If you choose the "Fullsize Viewer" or "Viewer with Metadata Browser" template, upload a metadata file</h4>
        <p><small>Supported format 'txt' for "Basic Viewer" and 'xml' for "Viewer with Metadata Browser"</small></p>
        <input type="file" name="metadata">
    </fieldset>  
    
    <input type="submit" value="Convert" class="btn btn-primary" data-loading-text="Processing..." onclick="$j(this).button('loading')" >
</form>

<h4>What happens next?</h4>
<p>After uploading your source file using the form above, a new page
    will be displayed with a link to download the converted model as
    HTML file.</p>

<h4>Note</h4>
<p>The converted model files will be deleted from our servers
a couple of hours after the conversion took place. Make sure you download
the files to your computer.</p>


{% endblock %}
