{% extends "base.html" %}

    {% block head %}
    {# The polling method is not the best way to do it. But will suffice
        for now.
     #}


     <script>
        $(document).ready(function() {
            // Current behaviour is that meta refresh is still executing and killing the log every 10s.
            // that's kind of lame, so we need to clean this up:
            // FIXME: need event for complete/error so we can redirect
            // FIXME: Fallback to meta refresh in case of no JS
            // FIXME: Use JSON response vs. plain text cruft
            // FIXME: Fallback to polling in case of no EventSource => better polyfill
            
            var status = $('#status');
            if (status.length <= 0) {
                return;
            }

            var source = new EventSource('/api/v1/stream/{{ result.id }}');

            source.addEventListener('message', function(e) {
                console.log(e.data);
                if (e.data != '1') {
                    status.text(e.data);
                }
            }, false);

            
            // source.addEventListener('open', function(e) {
            //     status.text("Waiting for updates...");
            // }, false);

            source.addEventListener('error', function(e) {
                if (e.readyState == EventSource.CLOSED) {
                    status.text("Connection closed... Please wait.");
                }
            }, false);
            

            // we also need polling to get rid of the meta-refresh
            $(function () {
                var status = $("#status");

                // this function will run each 1000 ms until stopped with clearInterval()
                var i = setInterval(function () {
                    $.ajax({
                        success: function (json) {
                            // when the worker process is done, stop execution
                            if (json.state == 'SUCCESS') {
                                clearInterval(i);
                                // this is naive, it should really get
                                // all the info from json to build the success
                                // screen
                                window.location.reload();
                            }
                        },
                        error: function () {
                            // on error, stop execution
                            clearInterval(i);
                        }
                    });
                }, 2500);  // the polling timeout, 2.5sec so we don't kill the server
            });

        });

    </script>

    <noscript>
        {% if not result.ready()%}
        <meta http-equiv="refresh" content="10; URL={{url_for('frontend.status', task_id=result.id)}}">
        {% endif %}
    </noscript>

    {% endblock %}

{% block content %}


    {% if result.failed() %}
    
        <h3>An error has occured.</h3>
        <p>{{result.info}}</p>
        <p>Please <a href="{{ url_for('frontend.home') }}">try again</a>.</p>
    
    {% elif result.ready() and result.successful() %}
    
        {# <div class="alert alert-success"><strong>Well done!</strong> Your files are ready :)</div> #}

        <table class="table">
             <thead>
                <tr>
                    <th></th>
                    <th width="100%">File ID</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
            </thead>

            <tr class="success">
                <td><i class="icon-ok"></i></td>
                <td>{{ hash }}</td>
                <td><a href="{{ url_for('frontend.preview', hash=hash, filename=filenames[0]) }}" target="_blank">HTML</a></td>
                <td><a href="{{ url_for('frontend.download', hash=hash, filename=filenames[1]) }}">zip</a></td>
            </tr>
        </table>


        <a href="{{ url_for('frontend.home') }}">Convert another file</a>

        
    {% else %}

        <table class="table">
             <thead>
                <tr>
                    <th></th>
                    <th width="100%">File ID</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
            </thead>

            <tr class="warning">
                <td><tt id="wait_1">...</tt>
                        <script>
                         new AnimatedDiv('wait_1', ['&ndash;','\\','|','/'], 150).animate();
                        </script>
                </td>
                <td id="status"><strong>Converting...</strong></td>
                <td>n/a</td>
                <td>n/a</td>
            </tr>
        </table>

        </div>    


    {% endif %}


    

{% endblock %}
