{% extends "base_vmust.html" %}

    {% block head %}
    {# The polling method is not the best way to do it. But will suffice
        for now.
     #}
     {% if not result.ready()%}
        <meta http-equiv="refresh" content="5; URL={{url_for('frontend.status', task_id=result.id)}}"> 
      {% endif %}
    {% endblock %}

{% block content %}
    {% if not result.ready() %}
    
    <div style="text-align:center">
        <h2>Your files are being processed... please wait.</h2>
        <img src="{{ url_for('static', filename='img/working.gif') }}">
        <h3>You will be automatically redirected to the download site, once the conversion is&nbsp;complete.</h3>
    </div>    

    {% endif %}
    
    {% if result.failed() %}
        <h3>An error has occured.</h3>
        <p>{{result.info}}</p>
        <p>Please <a href="{{ url_for('frontend.home') }}">try again</a>.</p>
    {% endif%}

{% endblock %}
