{% extends "base.html" %}
{% block title %}Model: {{ model.name }} {% endblock %}
{% block content %}

    {# TODO: this is crappy aopt output thingy. make this looking really cool #}
    <div> 
      <div class='group' style='width:300px;float:right;margin-right:5%;'> 
        <fieldset style='margin:4px;'> 
          <legend> 
            <strong>Viewer Settings</strong> 
          </legend> 
          <table> 
            <tr> 
              <td>Navigation Mode:
              </td> 
              <td align='right'> 
                <select style='float:right;' onchange="document.getElementById('x3d_main').runtime[value]();"> 
                  <option value='examine'>Examine</option> 
                  <option value='lookAt'>Lookat</option> 
                  <option value='walk'>Walk</option> 
                  <option value='fly'>Fly</option> 
                  <option value='helicopter'>Helicopter</option> 
                  <option value='noNav'>None</option>
                </select> 
              </td> 
            </tr> 
            <tr> 
              <td>Debug Display:
              </td> 
              <td align='right'> 
                <input type='checkbox' onclick="document.getElementById('x3d_main').runtime.statistics(this.checked);"> 
                </input> Stats 
                <input type='checkbox' onclick="document.getElementById('x3d_main').runtime.debug();"> 
                </input> Log 
              </td> 
            </tr> 
            <tr> 
              <td> 
                <button class="btn" onclick="document.getElementById('x3d_main').runtime.showAll();"> Show Everything
                </button> 
              </td> 
              <td> 
                <button class="btn" onclick="document.getElementById('x3d_main').runtime.resetView();"> Reset View
                </button> 
              </td> 
            </tr> 
          </table> 
        </fieldset> 
      </div> 
      
      <div class='group'> 
        <h1>Model: {{ model.input }}</h1> 
        <p>Output created with the <a href="http://github.com/x3dom/pipeline">Modelconvert</a> pipeline using 
            <a href="http://instantreality.org">InstantReality</a> and 
            <a href="http://meshlab.sourceforge.net/">MeshLab</a>.</p> 
         <p>See <a href="list.html">all converted models</a>.</p> 
      </div> 

    </div>

    <x3d id='x3d_main' swfpath="static/x3dom.swf" showStat='false' showLog='false' style='width:95%;height:500px;'>
      <scene id='scene'>
        <inline id="x3d_main_inline" nameSpaceName="inline" mapDEFToID="true" url="{{ model.inline }}"></inline>
      </scene>
    </x3d>

{% endblock %}
