.uiTransparent
{
    background: transparent;
}

.uiHalfTransparent
{
    background-color: rgba(192,192,192,.7);
}
/*progress bar color gradient*/
.ui-progressbar-value.progressBarColorGradient
{
    background-image: linear-gradient(bottom, rgb(224,224,224) 39%, rgb(148,148,148) 70%, rgb(133,133,133) 85%, rgb(107,106,107) 96%);
    background-image: -o-linear-gradient(bottom, rgb(224,224,224) 39%, rgb(148,148,148) 70%, rgb(133,133,133) 85%, rgb(107,106,107) 96%);
    background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 39%, rgb(148,148,148) 70%, rgb(133,133,133) 85%, rgb(107,106,107) 96%);
    background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 39%, rgb(148,148,148) 70%, rgb(133,133,133) 85%, rgb(107,106,107) 96%);
    background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 39%, rgb(148,148,148) 70%, rgb(133,133,133) 85%, rgb(107,106,107) 96%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(224,224,224)),
        color-stop(0.7, rgb(148,148,148)),
        color-stop(0.85, rgb(133,133,133)),
        color-stop(0.96, rgb(107,106,107))
    );
    /*
    background-image: linear-gradient(bottom, rgb(153,151,153) 8%, rgb(232,232,232) 51%, rgb(235,235,235) 76%) ;
    background-image: -o-linear-gradient(bottom, rgb(153,151,153) 8%, rgb(232,232,232) 51%, rgb(235,235,235) 76%) ;
    background-image: -moz-linear-gradient(bottom, rgb(153,151,153) 8%, rgb(232,232,232) 51%, rgb(235,235,235) 76%);
    background-image: -webkit-linear-gradient(bottom, rgb(153,151,153) 8%, rgb(232,232,232) 51%, rgb(235,235,235) 76%);
    background-image: -ms-linear-gradient(bottom, rgb(153,151,153) 8%, rgb(232,232,232) 51%, rgb(235,235,235) 76%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.08, rgb(153,151,153)),
        color-stop(0.51, rgb(232,232,232)),
        color-stop(0.76, rgb(235,235,235))
    );*/
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

/*progressbar corners */
.progress.ui-progressbar.progressBarCorners
{
 -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
 -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
 -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
 font-size: 15px;
}

/*default button*/
label.ui-state-default.ui-button
{
    background: #222;
    color: white;
    border-color: black;

    background-image: linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(0,0,0)),
        color-stop(0.7, rgb(71,71,71)),
        color-stop(0.85, rgb(102,99,102)),
        color-stop(0.96, rgb(133,133,133))
    );
}

/*active button */
label.ui-state-active.ui-button
{
    background: #0972A5;
    color: white;
    border-color: #B3D4FC;

    background-image: linear-gradient(bottom, rgb(51,70,122) 49%, rgb(13,14,23) 86%, rgb(15,15,20) 88%, rgb(5,5,5) 90%);
    background-image: -o-linear-gradient(bottom, rgb(51,70,122) 49%, rgb(13,14,23) 86%, rgb(15,15,20) 88%, rgb(5,5,5) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(51,70,122) 49%, rgb(13,14,23) 86%, rgb(15,15,20) 88%, rgb(5,5,5) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(51,70,122) 49%, rgb(13,14,23) 86%, rgb(15,15,20) 88%, rgb(5,5,5) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(51,70,122) 49%, rgb(13,14,23) 86%, rgb(15,15,20) 88%, rgb(5,5,5) 90%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(51,70,122)),
        color-stop(0.86, rgb(13,14,23)),
        color-stop(0.88, rgb(15,15,20)),
        color-stop(0.9, rgb(5,5,5))
    );
}

/* button hover*/
label.ui-state-hover.ui-button
{
    border-color: #B3D4FC;
}

/*button links abgerundet */
label.ui-button.ui-corner-left.roundBorders
{
    -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px;
    margin-right: -7px;
    width: 60px;
}
/*button rechts abgerundet*/
label.ui-button.ui-corner-right.roundBorders
{
    -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px;
    margin-left: -7px;
    width: 60px;
}

/*slider handle*/
a.maxPopSlider
{
    -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px;
}

a.ui-slider-handle.ui-state-default.maxPopSlider
{
    background: #121212;
    border-color: black;
}
a.ui-slider-handle.ui-state-hover.maxPopSlider
{
    border-color: #B3D4FC;
}

a.ui-slider-handle.ui-state-focus.maxPopSlider
{
    border-color: #B3D4FC;
}

/*precision slider */
a.ui-slider-handle.precSlider
{
    border: 0px;
    background: transparent;
}

/* spinner span */
span.ui-spinner.ui-widget
{
    width:184px;
}

/* buttons */
button.ui-button.ui-widget
{
    width: 189px;

    background-image: linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 39%, rgb(71,71,71) 70%, rgb(102,99,102) 85%, rgb(133,133,133) 96%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(0,0,0)),
        color-stop(0.7, rgb(71,71,71)),
        color-stop(0.85, rgb(102,99,102)),
        color-stop(0.96, rgb(133,133,133))
    );
    color:  white;
}

#header
{
    position:absolute;
    width: 1024px;
    top: 100px;
    height: 15%;
    z-index: 1000;
    text-shadow: black 2px 2px 3px;
    font-family: Helvetica;
    font-size: 3em;
    /*font-weight: bold;*/

}

#headLine
{
    position: absolute;
    height: 75px;
    width: 100%;
    top: 65px;
    float:left;
    text-align: center;
    vertical-align: baseline;
    visibility: visible;
}

.headerInfo
{
    top: 15px;
}

.whiteBorderedText
{
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 25px;
}

#headTrianglePB
{
    width: 512px;
    position: absolute;
    top: 170px;          /* Position der Triangle Progressbar */
    height: 52px;
    left: 256px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    z-index: 1;
}

#bigTrianglePB
{
    color: white;
    background-color: rgba(127,127,127,.7);
    font-size: 40px;
    height: 1.25em;

}

#headFPS
{
    position: absolute;
    right: 10px;
    visibility: hidden;
}

#headErrorBound
{
    position: absolute;
    visibility: hidden;
    left: 10px;
}

#statsWidget
{
    position: absolute;
    width: 256px;
    /*top: 100px;
    /*left: 1064px;*/
    /*right: 0%;
    bottom: 10%;*/
    z-index: 1000;
}

.setting
{
    float: left;
    width: 186px;
    margin: 5px;
}

.settingName
{
    width:100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    /*margin-left:0px;*/
}

.settingControl
{
    float: left;
    margin: 5px;
}

.settingControlFullSize
{
    width: 186px;
    float: left;
}

/* jquery override */
.ui-state-default
{
    background: transparent;
}
.ui-state-hover
{
    background: transparent;
}

.ui-state-active
{
    background: transparent;
}

#pBValueField
{
    width: 50px;
    padding: 4px;
    border: 1px solid black;
    float: right;
    text-align: center;
}

#cullBtnLbl
{
    width: 84px;
    margin-right: 7px;
}

#sortBtnLbl
{
    width: 84px;
}

.progress.ui-progressbar {position:relative;height:2em;}
.progress span {position:static;margin-top:-2em;text-align:center;display:block;line-height:2em;padding-left:10px;padding-right:10px;}
.progress[aria-valuenow="0"] span {margin-top:0px;}​


