<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="index" content="follow">
    <meta name="revisit-after" content="2 days">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/v-must.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ url_for("static", filename="js/jquery-1.7.2.min.js") }}'><\/script>")</script>
    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript" charset="utf-8"></script>
    {% block head %} {%endblock%}

</head>
<body>
    <div id="wrapper">
      <div id="header">
          <a href="{{ url_for('frontend.home') }}"><img id="logo" src="{{ url_for('static', filename='img/logo_small.png')}}"></a>

          <ul id="nav" class="clearfix">
              <li><a href="http://www.v-must.net/">Home</a></li>
              <li><a href="http://www.v-must.net/about">About</a></li>
              <li><a href="http://www.v-must.net/activities">Activities</a></li>
              <li><a href="http://www.v-must.net/virtual-museums">Virtual Museums</a></li>
              <li><a href="http://www.v-must.net/media_pubs">Media</a></li>
              <li><a href="http://www.v-must.net/opportunities">Opportunities</a></li>
              <li><a href="http://www.v-must.net/content/contact">Contact</a></li>
              <li id="login"><a href="http://www.v-must.net/user">Login</a></li>
          </ul>
      </div>
      <div id="content">
           <div id="content_column_right" class="clearfix">
              <div id="follow">
                  <h2 class="block-title">Follow V-MusT on</h2>

                  
                  <a id="rss" href="http://www.v-must.net/rss.xml" title="Follow v-must on This site (RSS)">This site (RSS)</a>
                  <a id="twitter" href="https://twitter.com/V_MUST"  title="Follow v-must on Twitter">Twitter</a>
                  <a id="vimeo" href="http://vimeo.com/user6134854" title="Follow v-must on Vimeo">Vimeo</a>
                  <a id="linkedin" href="http://www.linkedin.com/groups/VMusT-3804176?mostPopular=&amp;gid=3804176" title="Follow v-must on LinkedIn">LinkedIn</a>
                  <a id="facebook" href="http://www.facebook.com/pages/V-Must/197380023624034" title="Follow v-must on Facebook">Facebook</a>
                  <a id="flickr" href="http://www.flickr.com/photos/v-must/" title="Follow v-must on Flickr">Flickr</a>
              </div>
          </div>
           <div id="content_column_left">
         
              {% block content %}
              {% endblock %}

           </div>      
      </div>
      <div id="footer">
          <div id="footer_top">
              <p><a href="http://cordis.europa.eu/fp7/home_en.html" target="_blank">
                  <img class="media-image" id="2" typeof="foaf:Image" src="{{ url_for('static', filename='img/seventh_framework_logo.png')}}" alt="European Union Seventh Framework">
              </a></p>
              <p>The research leading to these results has received funding from the European Community's Seventh Framework Programme (FP7 2007/2013) under the Grant Agreement 270404.</p>
          </div>
          <div id="footer_bottom"></div>
      </div>
    </div> 
{% if config['DEVELOPMENT_MODE'] %}
<p>--- Running in development mode ---</p>
{% endif %}
{% if config['DEBUG'] %}
<p>--- Running in debug mode ---</p>
{% endif %}

</body>
</html>

