{# This template is not used to display anything, it is used by the converter to wrap the generated X3DOM html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>X3DOM Scene</title>
    <script src="" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://x3dom.org/download/dev/x3dom.css">
    <script type="text/javascript" src="http://x3dom.org/download/dev/x3dom-full.js"></script>
</head>
<body>
{{ SCENE_HTML }}
</body>
</html>
