{% extends "base_v-must.html" %}

{% block head %}

{# <meta http-equiv="refresh" content="10; URL={{url_for('download', hash=hash)}}">  #}
{% endblock %}

{% block content %}

<h2>Your files are ready</h2>

<p class="big">preview: <a href="{{ url_for('show', hash=hash, filename=filenames[0]) }}" target="_blank">{{ filenames[0] }}</a> - <span style="color: red;">not yet implemented</span></p>
<p class="big">download: <a href="{{ url_for('download', hash=hash, filename=filenames[1]) }}">{{ filenames[1] }}</a></p>


<p>Click on the links above to download the converted model files or <a href="{{ url_for('home') }}">convert another file</a></p>

{# <h1>Please wait...</h1> #}
{#  #}
{# <p>The file you are looking for does either not exist anymore or is not yet converted.  #}
{#     If you just uploaded a file for conversion, please the download will start  #}
{#     automatically as soon as your file is ready.</p> #}

{% endblock %}
