<!DOCTYPE html>
{# 
    Note URLs to Web resources are haredcoded in this template to allow
    indepented location of generated html file 
#}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>v-must</title>

    <link rel='stylesheet' type='text/css' href='http://examples.x3dom.org/files/x3dom.css' />
    <script type='text/javascript' src='http://examples.x3dom.org/files/x3dom.js'></script>

    <script type="text/javascript" src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/inc/JQuery/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://examples.x3dom.org/v-must/ipad_metadata_visitor/inc/JQuery/css/vader/jquery-ui-1.8.18.custom.css">
    <!--<script src="inc/JQuery/js/jquery-ui.js"></script>-->

    <style type="text/css" media="screen">@import "http://examples.x3dom.org/v-must/ipad_metadata_visitor/inc/jqtouch/themes/css/v_must.css";</style>
    <script src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/inc/jqtouch/src/jqtouch.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/inc/jqtouch/src/jqtouch-jquery.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/ipad.js"></script>
    <style type="text/css" media="screen">@import "http://examples.x3dom.org/v-must/ipad_metadata_visitor/ipad.css";</style>
</head>

<body>
<div id="jqt">
    <div id="view">
        <div id="viewContainer">
            <div id="metaDataContainer">
                <ul id="metaData" class="edgetoedge"> </ul>
            </div>
            
            <X3D id="x3dMain" showStat="false" showLog="false" >
                <scene id='scene'>
                    <Inline id="x3DomInline" nameSpaceName="inline" mapDEFToID="true" url="{{ X3D_INLINE_URL }}" onload="setCamera();"></Inline>
                     <Group id="annotationMarker" render="false"></Group>
                 </scene>
             </X3D>
            <div id="links">
                <p>
                    <a id="helpOpen" class="button" href="#" onclick="showHelp();">Help</a>
                    <a target="_blank" id="twitter" class="button" href="http://twitter.com/"><img src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/img/twitter.png" /> </a>
                    <a target="_blank" id="facebook" class="button" href="http://www.facebook.com/"><img src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/img/facebook.png" /> </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="help" title="Help">
    <p>
        <strong>Zoom:</strong>      <br/>
        <img src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/img/Help_Icon_zoom.png" />
    </p>
    <p>
        <strong>Swipe:</strong>     <br/>
        <img src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/img/Help_Icon_swipe.png" />
    </p>
    <p>
        <strong>Rotate:</strong>    <br/>
        <img src="http://examples.x3dom.org/v-must/ipad_metadata_visitor/img/Help_Icon_rotate.png" />
    </p>
</div>

</body>
</html>